header {
    
    background-image: linear-gradient(to right, lightblue, darkblue);
}

.container {
    display: inline-flex;
}

.whatCity h4 {
    font-weight: bold;
}

.whatCity button {
    background-color: lightblue;
    border-radius: 6px;
}

.whatCity input {
    border-radius: 6px;
}

.list {
    border-top: grey solid 2px;
}

.list button {
    background-color: gray;
    margin-bottom: 5px;
}

.forecast {
    width: 100%;
}

.forecast p{
    background-color: slategray;
    color: white;
}